.inputSearch,
.container,
.btn,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSearch {
  border-radius: 5px;
  width: 800px;
  padding: 15px;
  position: relative;
}
.MdPersonSearch {
  justify-self: flex-start;
  font-size: 25px;
  position: absolute;
}
.container { 
  margin: 10px auto;
  position: relative;
  width: 40%;
}
.btn {
  position: absolute;
  right: 10%;
  color: black;
  border: none;
  background-color: white;
}
@media(max-width: 2000px){
  .btn{
    right:6%;
  }
}
.back {
  padding: 3px;
  border: none;
  font-size: 43px;
  color: rgb(41,181,167);
}
.form{
 position: absolute;
 right: -15%;  
}
@media(max-width: 1400px){
  .form{
    right: -45%; 
  }
}
@media(max-width: 600px){

.MdPersonSearch {
  font-size: 20px;
}
.form{
  top: -210px;
}
.inputSearch{
   width: 300px;
}
.btn{
 right: -40px;
}
}